<h1>Word Definer</h1>

<h3>Available words:</h3>

<% if @words.any? %>
<ul>
<% @words.each do |word| %>
<li><a href="/words/<%= word.id %>"><%= word.word_name %></a></li>
<% end %>
</ul>
<% else %>
<h3>There are currently no words to display.</h3>
<% end %>

<form action="/words/new" method="get">
  <button type="submit" name="new" class="btn btn-primary">Add a new word</button>
</form>

<form action="/words" method="get">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Go!</button>
</form>
